body { 
        font-family: Arial, sans-serif; 
        background: #f7f7f7; }
 form { 
        background: #fff; 
        padding: 30px;
         max-width: 500px; 
        margin: 40px auto; 
        border-radius: 8px; 
        box-shadow: 0 2px 8px #ccc; 
        }

label { 
        display: block; 
        margin-top: 15px; 
        font-weight: bold; }
input, select, textarea, button { 
    margin-top: 5px; 
    width: 100%; 
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    font-size: 14px;}
.inline {   
    width: auto; 
    display: inline-block; 
    margin-right: 10px; 
}
.actions { 
    margin-top: 20px; 
    }
button { 
        background: #EA005E; 
        color: #ffffff; 
        border: none; 
        cursor: pointer;
     }
button: hover { 
        background: #000000;
        color: #ffffff; 
    
}
.name-row {
    display: flex;
    gap: 16px;
}
.name-row .name {
    flex: 1;
    margin-top: 0;
}
h2{
        font-size: 21px;
}



